*.7z
*.prx
*.sprx


# remove userconfigs but keep templates
games/rc1/userconfig.mk
!*.template.mk

.idea/**
.clangd
compile_commands.json*
.cache/*
.vscode/*
**/build/*
.vs/*

**/models_bak/*
**/wandb/*

**/__pycache__/*
venv/**
*/.idea/**
