*.7z
*.prx
*.sprx

**/wandb/*
**/models_bak/*

**/__pycache__/*

# remove userconfigs but keep templates
userconfig*
!*.template.mk

.idea/**
.clangd
compile_commands.json*
.cache/*
.vscode/*
**/build/*
.vs/*
